@import "vars";
@import "fonts";
@import "global";

.contact{
    &__wrapper{
        padding: 120px 0;
    }
    &__top{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__top-logo{
        margin-right: 50px;
    }
    &__top-title{
        @extend %akzidenzgroteskpro-bold;
        font-size: 50px;
        line-height: 60px;
        text-transform: uppercase;
        color: #161B20;
    }
    &__main{
        margin-top: 60px;
        display: flex;
        justify-content: flex-start;
    }
    &__main-block:nth-child(n+2){
        margin-top: 30px;
    }
    &__main-right{
        margin-left: 12.5%;
    }
    &__main-formtop > input{
        width: 378px;
        height: 50px;
    }
}