@import "vars";
@import "fonts";
@import "global";

.contact{
    &__wrapper{
        padding: 120px 0;
    }
    &__top{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__top-logo{
        margin-right: 50px;
    }
    &__top-title{
        @extend %akzidenzgroteskpro-bold;
        font-size: 50px;
        line-height: 60px;
        text-transform: uppercase;
        color: #161B20;
    }
}