@import "vars";
@import "fonts";
@import "global";

.esports{
    background-color: #36424C;
    padding: 120px 0;
    &__wrapper{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__left{
        margin-right: 12.5%;
        max-width: 480px;
        width: 100%;
    }
    &__left-number{
        @extend %akzidenzgroteskpro-bold;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: #5CCEC4;
    }
    &__left-img{
        padding: 30px 0;
    }
    &__left-title{
        @extend %akzidenzgroteskpro-bold;
        font-size: 30px;
        line-height: 45px;
        text-transform: uppercase;
        color: #fff;
    }
    &__left-subtitle{
        margin-top: 50px;
        color: #ABABAB;
        max-width: 390px;
    }
    &__left-text{
        margin-top: 30px;
        color: #EAEAEA;
        max-width: 485px;
    }




    &__right {
        max-width: 1000px;
        width: 100%;
    }
    &__right-first {
        width: 100%;
        max-width: 500px;
        height: 500px;
        position: relative;
        & span{
            max-width: 150px;
        }
    }
    &__right-second {
        width: 100%;
        max-width: 400px;
        height: 400px;
    }
    &__right-title {
        position: relative;
        font-size: 12px;
        line-height: 18px;
        text-transform: uppercase;
        @extend %akzidenzgroteskpro-bold;
        color: #fff;
        &::before {
            content: "";
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #5ccec4;
            margin-right: 20px;
        }
    }
}
.border {
    border: 1px dashed #5ccec4;
    border-radius: 50%;
}

.posit {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.text-1 {
    left: 9%;
    top: 17%;
}
.text-2 {
    left: -42%;
    top: 83%;

}
.text-3 {
    left: 89%;
    top: 47%;
}
.text-4 {
    left: 14%;
    top: 89%;
}
.sec-text {
    left: 78%;
    top: -8%;
}

