@import "vars";
@import "fonts";
@import "global";

.services{
    padding: 90px 0 120px;
    &__top{
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }
    &__top-title{
        @extend %akzidenzgroteskpro-bold;
        font-size: 58px;
        line-height: 64px;
        text-transform: uppercase;
        color: #161B20;
        max-width: 324px;
        margin-left: 4%;
    }
    &__main{
        margin-top: 80px;
        display: flex;
        justify-content: flex-start;
    }
    &__left{
        margin-right: 12.5%;
        display: flex;
        flex-wrap: wrap;
        max-width: 542px;
        justify-content: space-between;
    }
    &__left-block{
        width: 236px;
        height: 150px;
        background-color: #F0F3F4;
        margin-top: 60px;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            border: 1px dashed #5CCEC4;
            height: 190px;
            top: -13%;
            left: 7%;
        }
        &:after{
            content: '';
            position: absolute;
            border: 1px dashed #5CCEC4;
            height: 190px;
            top: -13%;
            right: 7%;
        }
        &.big-block{
            width: 542px;
            &:before{
                content: '';
                position: absolute;
                border: 1px dashed #5CCEC4;
                height: 190px;
                top: -13%;
                left: 3%;
            }
            &:after{
                content: '';
                position: absolute;
                border: 1px dashed #5CCEC4;
                height: 190px;
                top: -13%;
                right: 3%;
            }
            & .services__left-text{
                left: 3.32%;
                max-width: 150px;
            }
            & .services__left-text:before{
                content: '';
                position: absolute;
                border: 1px dashed #5CCEC4;
                transform: rotate(90deg);
                height: 582px;
                top: -833%;
                left: 170%;
            }
            & .services__left-text:after{
                content: '';
                position: absolute;
                border: 1px dashed #5CCEC4;
                transform: rotate(90deg);
                height: 582px;
                top: -494%;
                left: 170%;
            }
            & .services__left-line{
                left: 3%;
            }
        }
    }
    &__left-line{
        position: absolute;
        width: 30px;
        height: 5px;
        background-color: #5CCEC4;
        top: 8%;
        left: 8%;
    }
    &__left-text{
        @extend %akzidenzgroteskpro-bold;
        font-size: 12px;
        line-height: 18px;
        text-transform: uppercase;
        color: #161B20;
        position: absolute;
        top: 14.48%;
        left: 7.32%;
        max-width: 131px;
        &:before{
            content: '';
            position: absolute;
            border: 1px dashed #5CCEC4;
            transform: rotate(90deg);
            height: 276px;
            top: -409%;
            left: 75%;
        }
        &:after{
            content: '';
            position: absolute;
            border: 1px dashed #5CCEC4;
            transform: rotate(90deg);
            height: 276px;
            top: -64%;
            right: 23%;
        }
    }

    &__right-number{
        margin-top: 40px;
        @extend %akzidenzgroteskpro-bold;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: #5CCEC4;
    }
    &__right-img{
        padding: 30px 0;
    }
    &__right-title{
        @extend %akzidenzgroteskpro-bold;
        font-size: 30px;
        line-height: 45px;
        text-transform: uppercase;
        color: #161B20;
    }
    &__right-subtitle{
        margin-top: 50px;
        color: #ABABAB;
        max-width: 390px;
    }
    &__right-text{
        margin-top: 30px;
        color: #767676;
        max-width: 485px;
    }
}