%akzidenzgroteskpro-bold {
    font-family: "Akzidenz-Grotesk Pro", sans-serif;
    font-weight: 900;
}
%akzidenzgroteskpro-regular {
    font-family: "Akzidenz-Grotesk Pro", sans-serif;
    font-weight: 400;
}
